/*Анимация заголовков*/
.anim-title{
	visibility: hidden;
}
.line{
	position: relative;
	overflow: hidden;
	display: flex;
}
/*Анимация основного текста*/
.anim-text {
	opacity: 0;
	-webkit-transform: translateY(40px);
	-ms-transform: translateY(40px);
	transform: translateY(40px);
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	&.animated {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
	}
}
/*Параллакс фото на Главной "Автомобильный дом Восток"*/  
.triggerImg{
    overflow: hidden;
    position: relative;
}
.about__image .img__background{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
}   
.triggerImg{
	@include media($w-xs){
	//@media (min-width: 200px) {
		padding-top: 65.67%;
	}
    @include media($w-md){
	//@media (min-width: 768px) {
		padding-top: 144.67%;
	}
    @include media($w-xl){
	//@media (min-width: 1200px) {	
		padding-top: 99.67%;
	}
}
.catnav__image{
	@include media($w-xl, $w-xxlg){
	//@media (min-width: 1200px) and (max-width: 1849px){
		margin: 0 -344px 0 -60px;
	}
}
.section_video.fix-video{
    @include media($w-xl){
	//@media (min-width: 1200px) {	
		height: 100vh;
        padding-bottom: 0px;
        margin-top: 60px; 
        margin-bottom: -50vh;
	}
}
.section_video .animate-video{
    @include media($w-xl){
	//@media (min-width: 1200px) {	
        clip: rect(0vh, 100vw, 100vh, 0vw);
        width: 101vw;
        height: 101vh; 
        position: absolute;
        top: 0;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
	}
}