.section_catalog{
	overflow: hidden;
	@include media-max($w-md) {
		& + .section_uniq{
			padding-top: 24px;
		}
	}
}
.catalog__inner{
	transition: .2s;
	&.loading{
		opacity: .2;
	}
}
.catalog__cont{
	margin-top: 64px;
	& + .page__row{
		margin-top: 4px;
	}

	@include media($w-xl) {
		& + .page__row{
			margin-top: -40px;
		}
	}
	@include media($w-xxlg) {
		margin-top: 81px;
		& + .page__row{
			margin-top: -52px;
		}
	}
}
.catalog__outer{
	// margin-bottom: 30px;
	margin-bottom: 40px;

	@include media($w-xl) {
		margin-bottom: 60px;
	}
	@include media($w-xxlg) {
		margin-bottom: 63px;
	}
}